<!--<footer id="footer">
<div class="footer-top">

<div class="col-lg-4 col-md-4 col-sm-4 menu-footer">
<img src="/dist/img/menus/times-footer.gif">
<h5>
Aqui você procura todos os times<br>
cadastrados no Futebol de Sábado
</h5>
<button class="btn-normal btn-footer btn-color submit  bottom-pad">CONHEÇA OS TIMES</button>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 menu-footer">
<img src="/dist/img/menus/cadastreseutime-footer.gif">
<h5>
Aqui você procura todos os times<br>
cadastrados no Futebol de Sábado
</h5>
<button class="btn-normal btn-footer btn-color bottom-pad btn-footer" onclick="window.location.href='/views/cadastreseutime'">CADASTRE AGORA</button>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 menu-footer">
<img src="/dist/img/menus/faleconosco-footer.gif">
<h5>
Aqui você procura todos os times<br>
cadastrados no Futebol de Sábado
</h5>
<button class="btn-normal btn-footer btn-color submit  bottom-pad">ENTRE EM CONTATO</button>
</div>

</footer>-->

<% include ../../common/partials/variables %>
<% include ../../common/partials/script %>

<script>
  $( function(){
    $("[data-js='menu-times']").on("mouseup", function(){
      if($(this).hasClass("is-active")) {
        fechaMenuTimes();
      } else {
        abreMenuTimes($(this).data().menu);
      }
    });
    $("[data-js='letra']").on("mouseup", function(){
      abreLetra($(this).data().letra);
    });
    $("[data-js='menu-login']").on("mouseup", function(){
      if($(this).hasClass("is-active")) {
        fechaMenuLogin();
      } else {
        abreMenuLogin($(this).data().menu);
      }
    });
  });
</script>
