 <head>
   <meta charset="utf-8"  content="application/json">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Google Fonts -->
   <header id="header">
       <!-- Header Top Bar End -->
       <!-- Main Header Start -->
       <div class="main-header">
           <div class="container">
               <!-- TopNav Start -->
               <!-- Logo Start -->
               <a href="/views/home">
                   <img src="/dist/img/logo.jpg"/>
               </a>
               <!-- Logo End -->
               <!-- Mobile Menu Start -->
               <div class="mobile navbar-header">
                   <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                       <i class="fa fa-bars fa-2x"></i>
                   </a> 
               </div>
               <!-- Mobile Menu End -->
               <!-- Menu Start -->
               <nav class="collapse navbar-collapse menu">
                   <ul class="nav navbar-nav sf-menu">
                       <li>
                           <a id="menu-times" href="/views/equipes">
                               <img class="img-menu-header" src="/dist/img/menus/times-header.png"></img>
                               <h4>TIMES</h4>
                           </a>
                           <ul class="ui-alfabeto">
                              <div id="div-alfabeto" class="div-alfabeto" data-bind="foreach: { data: equipeList, as: 'equipe' }">
                                 <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <li>
                                       <a href="#" class="link-equipe-menu" data-bind="text: equipe.nome, click:$parent.openEquipe.bind($data, equipe.pagina)"></a>
                                   </li>
                               </div>
                           </div>
                       </ul>
                   </li>
                   <li>
                       <a id="menu-cadastreseutime" href="/views/cadastreseutime">
                           <img class="img-menu-header" src="/dist/img/menus/cadastreseutime-header.png"></img>
                           <h4>CADASTRE SEU TIME</h4>
                       </a>
                   </li>
                   <li>
                       <a id="menu-faleconosco" href="/views/faleconosco">
                           <img class="img-menu-header" src="/dist/img/menus/faleconosco-header.png"></img>
                           <h4>FALE CONOSCO</h4>
                       </a>
                   </li>
                   <li>
                    <a id="menu-login" href="/views/login">
                       <img class="img-menu-header" src="/dist/img/menus/login-header.png"></img>
                       <h4>LOGIN</h4>
                   </a>
               </li>
           </ul>
       </nav>
       <!-- Menu End --> 
   </header>
</head>