<meta charset="UTF-8">
<title>Futebol de Sábado</title>
<link rel="icon" type="image/png" href="/dist/img/icon-header.ico" sizes="96x96">
<!-- Library CSS -->
<link rel="stylesheet" href="/dist/css/bootstrap.css">
<link rel="stylesheet" href="/dist/css/listnav.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="/dist/css/style.css">
<!-- Skin -->
<link rel="stylesheet" href="/dist/css/theme-responsive.css">
<link rel="stylesheet" href="/dist/css/main.css">