<meta charset="UTF-8">
<title>Futebol de Sábado</title>
<link rel="icon" type="image/png" href="/styles/img/icon-header.ico" sizes="96x96">
<!-- Library CSS -->
<link rel="stylesheet" href="/styles/css/bootstrap.css">
<link rel="stylesheet" href="/styles/css/superfish.css" media="screen">
<link rel="stylesheet" href="/styles/css/listnav.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="/styles/css/style.css">
<!-- Skin -->
<link rel="stylesheet" href="/styles/css/theme-responsive.css">


<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<!--[if IE]>
<link rel="stylesheet" href="/styles/css/ie.css">
<![endif]-->