<meta charset="UTF-8">
<title>Futebol de Sábado</title>
<link rel="icon" type="image/png" href="/dist/img/icon-header.ico" sizes="96x96"/>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/dist/css/listnav.css"/>
<link rel="stylesheet" type="text/css" href="/dist/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/dist/css/theme-responsive.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.3/remodal-default-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.3/remodal.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.css"/>
<link rel="stylesheet" type="text/css" href="/dist/css/main.css"/>
