<head>
<div class="fb-header" id="fb-header">
    <div class="fb-container">
      <div class="fb-header__logo"><a href="/"><img src="/dist/img/logo.png" alt="" class="fb-header__logo__img"></a></div>
      <ul class="fb-header__nav">
        <li class="fb-header__nav__item" data-js="menu-times" data-menu="0"><a href="#" class="fb-header__nav__link"><i class="fb-icon fb-icon--camiseta"></i>Times</a></li>
        <li class="fb-header__nav__item" data-js="menu-cadastro" data-menu="1"><a href="/views/cadastro" class="fb-header__nav__link"><i class="fb-icon fb-icon--grupo"></i>Cadastre seu time</a></li>
        <li class="fb-header__nav__item" data-js="menu-faleconosco" data-menu="2"><a href="#" class="fb-header__nav__link"><i class="fb-icon fb-icon--chat"></i>Fale conosco</a></li>
        <li class="fb-header__nav__item" data-js="menu-login" data-menu="3"><a href="/views/login" class="fb-header__nav__link"><i class="fb-icon fb-icon--escudo"></i>Login</a></li>
      </ul>
    </div>

    <% include ../partials/equipe-menu %>
</div>
</head>
