<meta charset="UTF-8">
<title>Futebol de Sábado</title>
<link rel="icon" type="image/png" href="/dist/img/icon-header.ico" sizes="96x96"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald:400,700,300'>
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' >
<link rel='stylesheet' type='text/css' href='/dist/css/core.css'>
