<!DOCTYPE html>
<html>

<head lang="pt-BR">
  <% include ../partials/head %>
</head>

<body class="<%= path %>">

  <% include ../partials/header %>

    <div id="fb-cadastreseutime-page" class="fb-page">
        <div class="fb-banner fb-banner-min">
          <span class="fb-banner-text">faça o futebol acontecer</span>
        </div>
      <div class="fb-container">
        <div class="row">
          <div class="col-md-12 col-centered col-centered--bottom">
            <div class="fb-box fb-box__highlight">
              <div class="fb-box__title fb-box__title--center ">
                <h3>CADASTRE AGORA O SEU TIME E AGENDE SEUS JOGOS!</h3>
                <p>
                  Visando oferecer um maior entendimento do funcionamento do site, o Futebol de Sábado promove o cadastramento gratuito de sua equipe, e você poderá ter acesso livre a todos os nossos serviços. Se você conhece times que ainda não participam do Futebol de
                  Sábado, esta será a sua oportunidade de certificar-se que somos a melhor opção para a gestão da sua equipe, e assim, poderá convidá-las a juntar-se à nossa comunidade. Solicitamos aos times já cadastrados não repetir o cadastro. Após
                  cadastrar o seu time, você será comunicado via e-mail da liberação do acesso. Qualquer dúvida ou comentário, ligue para nosso suporte técnico - (51) 8182-5285 - ou envie e-mail para contato@futeboldesabado.com.br, que nossa equipe de
                  atendimento efetuará o retorno assim que possível.
                </p>
                <h4>#FACAOFUTEBOLACONTECER</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-centered">
            <div class="fb-box">
              <div class="fb-box__title fb-box__title--center">
                <h3>CADASTRE O SEU TIME</h3>
              </div>
              <form method="post" class="reply" id="cadastreseutime" data-bind="submit: saveEquipe">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" data-bind="">
                      <input type="text" class="form-control" placeholder="Nome do time" maxlength="60" data-bind="value: dataModel.nome, css: {'form-control-error': !dataModel.nome.isValid() && showErrors}" id="nome" />
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Página" maxlength="30" data-bind="value: dataModel.pagina, css: {'form-control-error': !dataModel.pagina.isValid() && showErrors}" id="pagina" />
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nome do representante" maxlength="60" data-bind="value: dataModel.representante, css: {'form-control-error': !dataModel.representante.isValid() && showErrors}" id="representante" />
                      <p class="asterisk">*</p>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Cores" maxlength="30" data-bind="value: dataModel.cores" id="cores" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <textarea type="text" class="form-control" placeholder="História" maxlength="255" rows="7" columns="50" data-bind="value: dataModel.historia" id="historia"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-group--icon">
                      <select class="form-control" placeholder="Modalidade" data-bind="value: dataModel.modalidade, options: modalidadeList, optionsCaption: 'Selecione uma modalidade...', optionsText: 'nome', css: {'form-control-error': !dataModel.modalidade.isValid() && showErrors}"
                        id="modalidade"></select>
                      <p class="asterisk">*</p>
                      <!--<i class="fa fa-arrow-down"></i>-->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-group--icon">
                      <select class="form-control" data-bind="value: dataModel.estado, options: estadoList, optionsCaption: 'Selecione um estado...',  optionsText: 'sigla', event: {change: loadCidades()}, css: {'form-control-error': !dataModel.estado.isValid() && showErrors}"
                        id="estado"></select>
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-group--icon">
                      <select class="form-control" data-bind="value: dataModel.cidade, options: cidadeList, optionsCaption: 'Selecione uma cidade...', css: {'form-control-error': !dataModel.cidade.isValid() && showErrors}" id="cidade"></select>
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nome do campo" maxlength="60" data-bind="value: dataModel.campo" id="campo" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Endereço do campo" maxlength="60" data-bind="value: dataModel.enderecoCampo" id="enderecoCampo">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Telefone" maxlength="60" data-bind="value: dataModel.telefone, css: {'form-control-error': !dataModel.telefone.isValid() && showErrors}" id="telefone" />
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" placeholder="E-mail" maxlength="60" data-bind="value: dataModel.email, css: {'form-control-error': !dataModel.email.isValid() && showErrors}" id="email" />
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Senha" maxlength="15" data-bind="value: dataModel.senha, css: {'form-control-error': !dataModel.senha.isValid() && showErrors}" id="senha" />
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Confirmar Senha" maxlength="15" data-bind="value: dataModel.confirmarSenha, css: {'form-control-error': !dataModel.confirmarSenha.isValid() && showErrors}" id="confirmarSenha" />
                      <p class="asterisk">*</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-group--icon">
                      <button class="btn btn-primary">Enviar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <% include ../partials/footer %>
      <script type="text/javascript" src="/dist/js/site/bootstrap-notify.min.js"></script>
</body>

</html>
