<!DOCTYPE html>
<html>
<head lang="pt-BR">
  <% include ../partials/head %>
</head>
<input id="equipe" value="<%= equipe %>" type="hidden">
<body class="<%= path %>">
  <% include ../partials/header %>  
  <div id="main" class="container fsa-main-container" class="fullwidthbanner-container">
    <img data-bind="attr: {'src': '/dist/img/capa/' + dataModel.imgCapa}" class="fsa-img-capa-time"/>
    <div class="fsa-background-resumo-time">
      <div class="row" data-bind="visible: dataModel.nome">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img data-bind="attr: {'src': '/dist/img/logos/' + dataModel.imgAvatar}, click: $('#upload-avatar-time').click()" class="fsa-avatar-time">
          <input type='file' id="upload-avatar-time" style="display:none" data-bind="event: {change: escolherAvatarTime($element.files[0])}"/>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <label class="fsa-titulo-time" data-bind="text: dataModel.nome"></label><br/>
          <label class="fsa-historico-time" data-bind="text: 'Breve histórico do time'"></label>
        </div>
      </div>
      <div class="row" data-bind="visible: dataModel.representante">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 fsa-informacoes-time">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="fsa-label-titulo">Cidade: </span><span data-bind="text: dataModel.cidade + ' - ' + dataModel.siglaEstado"></span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-13">
            <span class="fsa-label-titulo">Representante: </span><span data-bind="text: dataModel.representante"></span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="fsa-label-titulo">Campo: </span><span data-bind="text: dataModel.campo"></span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="fsa-label-titulo">Fone: </span><span data-bind="text: dataModel.telefone"></span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="fsa-label-titulo">Modalidade: </span><span data-bind="text: dataModel.modalidade"></span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
           <span class="fsa-label-titulo">Email: </span><span data-bind="text: dataModel.email"></span>
         </div>
       </div>
     </div>
     <div class="row" data-bind="visible: <%= loggedOnPage %>">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="fsa-background-post" data-bind="visible: <%= loggedOnPage %>">
          <div class="fsa-post-title" data-bind="text: 'Escrever Post'"></div>
          <fieldset class="fsa-escrever-post">
            <label>Título: <span>*</span></label>
            <input class="form-control" id="titulo" name="titulo" maxlength="60" type="text" data-bind="value: comentario.titulo">
            <label>Conteúdo: <span>*</span></label>
            <textarea class="form-control" id="conteudo" name="conteudo" maxlength="255" rows="7" columns="50" data-bind="value: comentario.conteudo" res></textarea>
          </fieldset>
          <div class="row">
           <button class="btn-normal btn-color submit bottom-pad fsa-btn-escrever-post" data-bind="click: publicar">PUBLICAR</button>
         </div>
       </div>
     </div>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
   </div>
 </div>

 <div class="row" data-bind="visible: dataModel.comentarios.length > 0">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div data-bind="foreach: { data: dataModel.comentarios, as: 'comentario' }">
      <div class="fsa-background-post" data-bind="visible: comentario.titulo">
        <div class="fsa-post-title" data-bind="text: comentario.titulo"></div>
        <div class="fsa-post-summary" data-bind="text: 'Postado em ' + comentario.dataFormatada"></div>
        <div class="fsa-post-content" data-bind="text: comentario.conteudo"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  </div>
</div>
<!-- modal content -->
<div class="upload-avatar-time-modal" style="display:none">
  <img class="fsa-avatar-time-upload"/>
  <div class="fsa-btn-upload-group">
    <button class="btn-small btn-color" data-bind="click: alterarAvatarTime">CONFIRMAR</button>
  </div>
</div>
</div>
<% include ../partials/footer %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.11.1/cropper.min.js"></script>
</body>
</html>