<div id="div-alfabeto-out" style="display: block;">
	<div id="div-alfabeto" class="demo div-alfabeto" data-bind="foreach: { data: equipeList, as: 'equipe' }">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<li>
				<a href="#" class="link-equipe-menu" data-bind="text: equipe.nome"></a>
			</li>
		</div>
	</div>
</div>
<script type="text/javascript">

/*$(function() {
	$('#div-alfabeto').listnav({ 
		includeNums: false, 
		includeAll: false
	});
});*/

function openMenuTimes() {
	/*$('#div-alfabeto-out').dialog();*/
	console.log('openMenuTimes');
};

function closeMenuTimes() {
	/*$('#div-alfabeto-out').css('display', 'none');*/
	console.log('closeMenuTimes');
}
</script>