<!DOCTYPE html>
<html>
<head lang="pt-BR">
  <% include ../partials/head %>
</head>
<body class="<%= path %>">

  <% include ../partials/header %>

  <div id="main" class="container main-container">
    <img src="/styles/img/banner-min.jpg" alt="Futebol de Sábado" class="fullwidthbanner-container">
    <div class="content">
      <div class="container">
        <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-4 col-xs-12" id="contact-form">
           <h3 class="title">Login</h3>
           <p style="text-align: left">
            Preencha seu usuário e senha.
          </p>
        </div>
      </div>
      <form method="post" class="reply" id="login" data-bind="submit: login">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
           <fieldset>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Login: <span>*</span></label>
                <input class="form-control" id="nome" name="nome" maxlength="60" type="text" data-bind="value: dataModel.login" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                <label>Senha: <span>*</span></label>
                <input class="form-control" id="confirmarSenha" maxlength="15" type="password" data-bind="value: dataModel.senha">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="text-align: left"><button class="btn-normal btn-color submit  bottom-pad" type
         ="submit" style="margin-top: 10px;">LOGIN</button></div>
       </div>
     </div>
     <div class="error-container" style="display: none">
      <div style="padding: 5px;">
        <div id="error-container-inner-message" class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span></span>
        </div>
      </div>
    </div>

  </form>
</div> 
</div>   
<% include ../partials/footer %>
</body>
</html>