<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body class="<%= path %>">

<% include ../partials/header %>

<div class="content">
    <div class="navigation">
        <div class="title">Produtos</div>
    </div>

    <div class="section min" data-bind="foreach: { data: products, as: 'product' }">
        <div class="title separator">
            <span data-bind="html: product.titleHtml"></span>
        </div>

        <div class="product-box" data-bind="foreach: { data: items, as: 'item' }">
            <div class="container">
                <div>
                    <div class="photo" data-bind="style: { backgroundImage: item.backgroundImage }"></div>
                    <div class="description">
                        <div class="title" data-bind="html: item.titleHtml"></div>
                        <div class="detail" data-bind="html: item.detailHtml"></div>
                    </div>
                    <div class="button" data-bind="click: $root.openProduct.bind($data, product.key + '/' + item.key)">
                        Saiba mais
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>