<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body class="<%= path %>">

<% include ../partials/header %>

<!-- ko foreach: { data: products, as: 'product' } -->
<div class="content" data-bind="foreach: { data: items, as: 'item' }">
    <!-- ko if: item.isMain -->
    <div class="section">
        <div class="product-grid">
            <div class="gallery">
                <div class="photo">
                    <div data-bind="style: { backgroundImage: $root.selectedPhoto }"></div>
                </div>

                <div class="thumbs" data-bind="foreach: { data: images, as: 'image' }">
                    <div class="photo" data-bind="click: $root.selectPhoto, css: { active: image.normal == $root.selectedPhoto() }">
                        <div data-bind="style: { backgroundImage: image.small }"></div>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="title" data-bind="html: item.titleHtml"></div>
                <div class="detail" data-bind="html: item.detailHtml"></div>
            </div>
        </div>

        <div class="tab-bar">
            <menu class="tabber-menu">
                <a href="#tab-1" class="tabber-handle">Medidas</a>
                <a href="#tab-2" class="tabber-handle">Informações Técnicas</a>
            </menu>

            <div id="tab-1" class="tabber-tab">
                <table class="table">
                    <thead>
                    <tr data-bind="foreach: { data: item.measureHeaders, as: 'header' }">
                        <th data-bind="html: header"></th>
                    </tr>
                    </thead>

                    <tbody data-bind="foreach: { data: item.measureRows, as: 'rowValues' }">
                    <tr data-bind="foreach: { data: rowValues, as: 'value' }">
                        <td data-bind="html: value"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="tab-2" class="tabber-tab" data-bind="foreach: { data: informations, as: 'information' }">
                <div class="info-box">
                    <div>
                        <div class="title" data-bind="html: information.titleHtml"></div>
                        <div class="detail" data-bind="html: information.detailHtml"></div>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="visible: $root.itemSuggestions().length">
            <div class="title separator">
                <span>Veja também</span>
            </div>

            <div class="product-items" data-bind="foreach: { data: $root.itemSuggestions, as: 'suggestion' }">
                <div data-bind="click: $root.openProduct">
                    <div class="photo" data-bind="style: { backgroundImage: suggestion.backgroundImage }"></div>
                    <div class="title">
                        <span data-bind="html: suggestion.titleHtml"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->

<% include ../partials/footer %>

</body>
</html>